/*
Start des Projekts: 15.07.2018
Autor: Marcel
hours_invested: too many.

                               VARIABLEN DEKLARATION  */
:root {
  --rot_primaer:   #cc2020;
  --rot_sekundaer: #d84949;
  --schwarz:       #000000;
  --weiss:         #ffffff;
}

body, html {
  width: 100%;
  margin: 0;
  font-family: Verdana, sans-serif;
}
/*                                HEADER STUFF  */
.backgroundimage {
  width: 100%;
  height: 300px;
  background: url("../img/titelbild.png") center center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}
/*                                INHALTICHE STUFF  */
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 20px;
  color:      var(--rot_primaer);
}
p.welcomingtext {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
hr {
  height: 20px;
  border: none;
  border-bottom: 1px solid var(--rot_primaer);
  width: 80%;
  margin: 20px auto;
}
hr.ganzobe {
  height: 0px;
}
.content {
  width: 80%;
  margin: 0 auto;
}
#bildtext {
	display: block;
	font-size: 18px;
	padding: 10px 0;
	border: 1px solid rgba(0,0,0,0);
	transition-duration: 0.3s;
	text-align: center;
	color: var(--schwarz);
	text-decoration: none;
	font-weight: bolder;
}
#bildtext:hover {
	color:      var(--rot_primaer);
	background: var(--weiss);
	border: 1px solid var(--schwarz);
}

::selection {
  background: var(--rot_sekundaer);
  color:      var(--weiss);
}
::-moz-selection {
  background: var(--rot_sekundaer) ;
  color:      var(--weiss);

}
/*                                TEAM STUFF  */
.abstand {
  height: 50px;
}
.bildlinks {
  text-align: right;
}
.bildrechts {
  text-align: left;
}
.textlinks {
  text-align: right;
  padding-right: 5%;
}
.textrechts {
  text-align: left;
  padding-left: 5%;
}
/*                                SAISONPLAN STUFF  */
table {
  border-spacing: 0px;
}
#saisonplan tr td {
  text-align: left;
  border-bottom: 1px solid var(--schwarz);
}
#sptrenner {
	height: 15px;
	border-bottom: 1px solid var(--weiss)!important;
}
.spdatum {
    text-align: right!important;
    padding-right: 25px!important;
    font-weight: bold!important;
}

/*                                FOOTER STUFF  */
footer {
  height: 30px;
  width: 100%;
  line-height: 30px;
  background: var(--schwarz);
  opacity: 0.8;
}
footer p {
  width: 70%;
  margin: 0 auto;
  color: #a8a8a8;
  font-size: 14px;
}
footer p a {
  text-decoration: none;
  color: #a8a8a8;
}
footer p a:hover {
  border-bottom: 1px solid var(--weiss);
}
/*                                RESPONSIVE STUFF  */
#h1break {
  display: none;
}
.column {
	display: inline-block;
	width: 20%;
	background: #c8c8c8;
	margin: 0 15px 15px 15px;
	padding: 5px;
}
/*                                KONTAKTFORMULAR UND SO..  */
form {
  width: 60%;
  margin: 0 auto;
}
label {
  display: block;
  text-align: left;
  font-weight: bolder;
}
input[type="text"], textarea {
  position: relative;
  top: -10px;
  margin: 0 0 20px 0;
  padding: 3px;
  font-size: 17px;
  width: 100%;
  border: 1px solid var(--schwarz);
}
textarea {
  height: 140px;
  resize: none;
}
input[type="text"]:focus, textarea:focus {
  outline: 2px solid var(--rot_sekundaer);
}
input[type="submit"], input[type="reset"] {
  font-size: 17px;
  padding: 8px 20px;
  margin: 0 10px;
  color: var(--schwarz);
  background: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
  border-bottom: 3px solid var(--rot_sekundaer);
  cursor: pointer;
  transition-duration: 0.3s;
}
input[type="submit"]:hover, input[type="reset"]:hover {
  color: white;
  background: var(--rot_sekundaer);
}
